//META{"name":"dbswag Theme","description":"Sick af theme","author":"dbswag","version":"1.8"}*//{}


/* font */
@import url(https://fonts.googleapis.com/css?family=Karla|Questrial);


:root {
    --background: "https://i.imgur.com/q3okkr1.jpg";
    --bdblue: "#1D6586";
}

div>*:not(code) {
    font-family: 'Karla' !important;
    font-family: 'Questrial' !important;
}

 /* background */
.app,
.callout-backdrop,
.layer {
    background: url("https://i.imgur.com/q3okkr1.jpg") !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
/* Direct message logo */
.guilds-wrapper .guilds .friends-icon {
    background-color: rgba(206, 38, 38, 0.30) !important;
    background-image: url("https://yt3.ggpht.com/a-/AK162_4wSZbFRszL8eLSujBq3VN2R5RoTuka2jNHsQ=s900-mo-c-c0xffffffff-rj-k-no") !important;
    background-size: cover !important;
}

/* TRANSPARENT DOC OMEGALUL */

.guild-header,
.theme-dark .embedInner-t4ag7g,
.private-channels .channel:active,
.guild-channels .channel-text:active,
.channel-members .member.popout-open,
.private-channels .channel.selected,
.guild-channels .channel-text.selected,
.guild-channels,
.theme-dark .chat>.content,
.theme-dark .friends-table,
.theme-dark .messages-wrapper,
.private-channels,
.guilds-wrapper,
.channel-members,
.theme-dark .channel-textarea-inner,
#friends,
#friends .friends-table .friends-table-header,
#friends .friends-table,
.flex-horizontal>.flex-spacer,
.chat .messages,
.friends-table .messages .message-group:not(.has-divider),
.messages-wrapper .messages .message-group:not(.has-divider),
#voice-connection .btn-group,
.account .btn-group,
.account .btn-mute,
.account .btn-deafen,
.account .btn-settings,
.channel-textarea,
.comment,
.scroller .guild-channels,
.channels-wrap,
.theme-dark .layers,
.channel-members-wrap,
.channel-members-wrap .scroller-wrap.fade.dark,
.search-bar,
.friends-header,
.chat .messages-wrapper,
.chat .messages-wrapper .scroller-wrap,
.chat form .typing:hover,
.typing .text,
.theme-dark .chat .private-channel-call,
.layers,
.layer,
textarea,
.links,
.chat,
.typing,
.content,
.theme-dark .wrapper-uAa07y,
.guild-header header,
.divider-red span,
.messages-wrapper,
#memberCount,
#voice-connection,
.container-RYiLUQ,
.container-2OU7Cz, .theme-dark .title-qAcLxz, .channels-3g2vYe, .container-RYiLUQ,
.theme-dark .headerBar-cxbhPD {
    background: transparent !important;
    box-shadow: none;
    border-bottom: 0px solid #fff;
    border-top: none;
    opacity: 1;
}


.container-2OU7Cz,
.theme-dark .title-qAcLxz,
.channels-3g2vYe,
.vertical-3X17r5,
.container-RYiLUQ {
    background-color: rgba(0, 0, 0, 0.2) !important;
    margin-bottom: 0px !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    border: 3px solid rgba(255, 255, 255, 0) !important;
    background-color: #1D6586 !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border: 3px solid rgba(255, 255, 255, 0) !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.channel-textarea-inner textarea,
.chat .title-wrap .topic,
.theme-dark .search-results-wrap .search-result .hit {
    color: rgba(255, 255, 255, 0.8)!important;
}

.friends-online {
    display: none !important;
}

.guilds-wrapper {
    background: rgba(0, 0, 0, 0.5) !important
}

.guild-inner {
    background: rgba(0, 0, 0, 0.1) !important
}

.guilds-wrapper .guilds .guild.selected:before {
    background: rgb(11, 75, 87) !important;
}

.guilds-wrapper .guilds .guild.unread:before {
    background: rgb(28, 177, 167) !important;
    height: 25px !important;
    margin-top: -10px !important;
}

.channels-wrap {
    background: rgba(0, 0, 0, 0.6) !important;
}

.theme-dark .chat .title-wrap,
.chat .title-wrap,
.titleWrapper-3Vi_wz {
    background: rgba(0, 0, 0, 0.2) !important;
    border: none !important;
}

.chat>.title-wrap>.title {
    background: none !important;
}

.content .flex-spacer {
    background: rgba(0, 0, 0, 0.4) !important;
}


.channel-members {
    background: rgba(0, 0, 0, 0.4) !important
}

.channelTextAreaEnabled-c05Zpy.channelTextArea-1HTP3C.channelTextArea-os01xC,
.theme-dark .chat form {
    background-color: rgba(0, 0, 0, 0) !important;
}

.theme-dark .layers>div[style]:first-child {
    opacity: 1 !important;
    transform: scale(1) translateZ(0px) !important;
}


.container-iksrDt {
    background: rgba(0, 0, 0, 0.2) !important
}


.theme-dark .inner-3if5cm,
.channel-text-area-default {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.emoji-picker .sticky-header .category {
    display: none !important;
    color: #fff !important;
}

.search-bar.search-bar-light .search-bar-inner {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.markup pre {
    border-radius: 0 !important;
    background: transparent !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
}

.markup pre code.hljs {
    background: rgba(0, 0, 0, 0.5) !important;
    color: rgba(255, 255, 255, 0.7) !important;
    padding: 1em !important;
}

.modal-content .markup code.inline,
.markup code.inline {
    background: rgba(0, 0, 0, 0.5) !important;
    color: rgba(255, 255, 255, 0.7) !important;
    padding: 0.1em 0.4em !important;
    border-radius: 0 !important;
    border-radius: 2px 2px 2px 2px !important;
    border: 1px solid rgba(255, 255, 255, 0.3)!important;
}

.emoji-item {
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.channel-members .member .status {
    transition: all 150ms ease !important;
    will-change: border-color, width, background, height, padding !important;
}

.channel-members .member:hover .status,
.channel-members .member.popout-open .status {
    width: 100% !important;
    background: transparent !important;
    border-radius: inherit !important;
    height: 100% !important;
    right: -3px !important;
    bottom: -3px !important;
    padding: 2px !important;
    transition: all 200ms ease !important;
    border-width: 2px !important;
    margin: 0 !important;
}

/* useless hover shows circle round avatar */
.channel-members .member:hover .status.status-online,
.channel-members .member.popout-open .status.status-online {
    border-color: #43b581 !important
}
/* useless hover shows circle round avatar */
.channel-members .member:hover .status.status-idle,
.channel-members .member.popout-open .status.status-idle {
    border-color: #faa61a !important
}
/* useless hover shows circle round avatar */
.channel-members .member:hover .status.status-dnd,
.channel-members .member.popout-open .status.status-dnd {
    border-color: #f04747 !important
}
/* useless hover shows circle round avatar */
.channel-members .member:hover .status.status-offline,
.channel-members .member.popout-open .status.status-offline {
    border-color: #636b75 !important
}
/* useless hover shows circle round avatar */
.channel-members .member:hover .status-streaming.status,
.channel-members .member.popout-open .status-streaming.status {
    border-color: #593695 !important
}
/* useless hover shows circle round avatar */
.channel-members .member.popout-open .status.status-typing,
.channel-members .member:hover .status.status-typing {
    background-color: rgba(0, 0, 0, 0.4) !important;
}
/* 3 dots on when someones typing */
.channel-members .member.popout-open .status.status-typing .spinner .spinner-inner,
.channel-members .member:hover .status.status-typing .spinner .spinner-inner {
    left: 1px !important;
    top: 1px !important;
}

/* some talkin shit */
.avatarSpeaking-3teDH6,
.avatarDefault-3jtQoc,
.avatarContainer-303pFz {
    border-color: transparent !important;
    box-shadow: none !important;
    z-index: 10 !important;
}

/* Green highlight when speaking */
.avatarSpeaking-3teDH6::before {
    content: "" !important;
    position: absolute !important;
    left: -5px !important;
    width: 4px !important;
    height: 20px !important;
    background: #43b581 !important;
}

/* Green highlight when speaking */
.avatarSpeaking-3teDH6::after {
    content: "" !important;
    position: absolute !important;
    height: 20px !important;
    left: -5px !important;
    width: 100% !important;
    background: linear-gradient(to right, #43b581 0%, transparent 35%) !important;
    opacity: 0.5 !important;
    z-index: -1 !important;
}

/* really should do comments whilst im coding it */
.user-settings-account .ui-form-item:last-of-type .view-body.selectable-prgIYK:last-of-type {
    filter: blur(5px) !important;
    transition: 200ms cubic-bezier(.2, .11, 0, 1) !important;
}

/* dont remember */
.user-settings-account .ui-form-item:last-of-type .view-body.selectable-prgIYK:last-of-type:hover {
    filter: none !important;
    transition: 200ms cubic-bezier(.2, .11, 0, 1) !important;
}

/* Extra Badges */

.flex-lFgbSz.profileBadges-2B6TBS > div:before {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
    background-image: url('https://favna.s-ul.eu/FwGzLmU4.svg');
    background-repeat: no-repeat;
}

.flex-lFgbSz.profileBadges-2B6TBS > div {
    background-image: url('');
}

/* idk */
.theme-dark .wrapper-uAa07y {
	border-color: transparent;
}

/* Text when clickig on someones name */
.headerName-2N8Pdz, .headerTagUsernameNoNickname-1gGsAP {
    color: pink;
}

/* Text when clicking on someones name */
.headerTag-3zin_i {
    color: white;
}
/* some random text border */

.container-3lnMWU {
    border-bottom: 0px;
}
/* voice connected */
.inner-ptMwR- .rtc-connection-status-connected {
    font-size: 15px;
}
/* text under voice connected */
.inner-ptMwR- .channel-3YGMy1 {
    color: white;
    font-size: 13px;
}

/* fuck ur new message */
.unread-mentions-indicator-bottom .unread-mentions-bar, .unread-mentions-indicator-top .unread-mentions-bar {
    display: none;
}

/* Transparent voice chat */
.listDefault-3i7eWQ {
    background: transparent !important;
}

/* Bar on the left of a link */
.theme-dark .embedPill-3sYS1X {
    background-color: #A552E0;
}
/* NIGGA MAKE THE EMOJIS AS BIG AS U WANT */
.emoji {
    min-height: 45px;
    min-width: 45px;
    vertical-align: -.5em;
    height: 2rem;
}

/* DISCORD BAR */
.titleBar-3_fDwJ {
    background: url("https://i.imgur.com/4FdcXbm.png") !important;
    filter: brightness(.39);
    background-size: cover !important;
}

/* Mention autocomplete hover */
.theme-dark .selectorSelected-2M0IGv {
    background: url("https://i.imgur.com/4FdcXbm.png") !important;
}

/* @ mention colour changed cus why not */
.bd-blue .mention {
    color:#91CFE2;
}

/* Mentioned highlight colour*/
.theme-dark .message-group .mentioned .message-text {
    background: rgb(75, 24, 75) !important;
}

/* legit just did this and cant remember what it was for */
/* ah i remember fuckin when u click server name and pop up comes up added the colour to it */
.size-2pbXxj {
    background: url("https://i.imgur.com/4FdcXbm.png") !important;
}

/* first message of the day notification thingy because red is overrated */ 
.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
    color: white;
}

/* Removes pro-tip under message when left clicking on a name */
.theme-dark .protip-12obwm {
    display: none;
}

/*removed create server button */
.guilds-wrapper .guild.guilds-add {
    display: none !important
}

/* spotify invite link transparency */
.theme-dark .invite-CTGItT {
    background-color: transparent !important;
    border-color: transparent !important;
}

/* probably spotify fix too idk */
.horizontal-2BEEBe>.flex-lFgbSz:first-child, .horizontal-2BEEBe>.flexChild-1KGW5q:first-child {
    background-color: transparent !important;
}

/* fixes background on text on listening along section */
.theme-dark .title-WW3neA {
    background-color: #1E1730 !important;
}

/* fixes background on text on listening along section */
.theme-dark .subtitle-2BzAeG {
    background-color: #1E1730 !important;
}

/* Link colour */
.theme-dark .message-group a {
    color: #60C2D8 !important;
}

/* Voice connected background */
.container-3lnMWU {
    background-color: #160E28 !important;
}

/* # number under username */
.accountDetails-15i-_e .discriminator {
    font-size: 13px !important;
    color: white !important;
    opacity: .8;
}

/* Channel Highlighted */
.contentSelectedText-3j5CXt {
    background-color: #3A2F53 !important;
}

/* Channel Hovered */
.contentHoveredText-2HYGIY, .contentHoveredVoice-3qGNKh:active, .contentSelectedVoice-gTtYM9:active {
    background-color: #433368 !important;
}

/* Voice channel member limit */
.wrapper-2ldvyE {
    background-color: #2A1938 !important;
}

/* chat avatar size */
.chat .avatar-large {
    height: 45px !important;
    width: 45px !important;
}

/* background: url("https://i.imgur.com/q3okkr1.jpg") !important; */

/* Server invite link transparency fix */
.guildInfo-mu0TQL {
    background-color: transparent !important;
}

/* right side member list hover colour */
.theme-dark .channel-members .member:hover {
    background: url("https://i.imgur.com/q3okkr1.jpg") !important; 
}

/* right side member list playing / listening text */
.channel-members .member .member-activity {
    color: white !important;
    opacity: .7 !important;
    font-size: 13;
}

/* nickname on profile click */
.headerName-2N8Pdz, .headerTagUsernameNoNickname-1gGsAP {
    color: white !important;
    font-size: 20px !important;
}

/* profile background */
.topSectionPlaying-1J5E4n {
    background: url("https://i.imgur.com/q3okkr1.jpg") !important;
}

/* profile background when playing a game */
.theme-dark .topSectionNormal-2-vo2m,
.topSectionSpotify-1lI0-P {
    background: url("https://i.imgur.com/q3okkr1.jpg") !important;
}

.bd-blue .tab-bar.TOP .tab-bar-item.selected {
    color: lightblue !important;
}

button:disabled, button:disabled:hover,
input:disabled, input:disabled:hover,
textarea:disabled, textarea:disabled:hover {
    pointer-events: all!important;
    cursor: not-allowed!important;
}

/* Windows bar */
.wordmark-2iDDfm::before {
    content: 'theme by dbswag';
    background-color: var(--titlebar-color);
    z-index: 999999999999999999999;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    position: fixed;
    top: 6px;
    left: 65px;
    width: 200px;
    padding-top: .6px !important;
    
}
/*
.wordmark-2iDDfm {
    opacity: 1;
    width: 100%;
    background: url("https://i.imgur.com/4FdcXbm.png") !important;
    top: -4px;
    background-size: cover !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
}
*/

/* Windows bar */
.titleBar-AC4pGV {
    opacity: 1;
    width: 100%;
    background: url("https://i.imgur.com/UJdf7Qx.png") !important;
    top: -4px;
    background-size: cover !important;
}

/* Windows bar grey margin fix */
.typeWindows-1za-n7 {
    margin-top: 0px !important;
    padding-top: 4px !important;
}

/* Emoji picker shit */
.search-bar.search-bar-light {
    background-color: #29292A !important;
}
.search-bar.search-bar-light .search-bar-inner {
    background-color: rgba(199,209,216,.3);
    border: 1px solid transparent;
    border-radius: 0!important;
}
.emojiPicker-3g68GS .dimmer-jySV_v {
    -webkit-transition: background-color .15s ease-in-out;
    background-color: transparent;
    border-radius: 0;
    height: 100%;
    pointer-events: none;
    position: absolute;
    transition: background-color .15s ease-in-out;
    width: 100%;
    z-index: 1;
}
.emojiPicker-3g68GS {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
    background-color: #29292A;
    border: 0;
    border-radius: 0 !important;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.emojiPicker-3g68GS .category-3rCtoh {
    background-color: #29292A;
}


/* Windows button changes */
.winButton-iRh8-Z {
    width: 45px;
    height: 29px;
    margin-top: -4px;
    top: 0;
    opacity: 1;
    background-color: transparent;
    background-repeat: no-repeat !important;
    background-position: center !important;
    cursor: default;
    background-size: 10px !important;
}

.winButton-iRh8-Z:hover {
    background-color: #1D6586 !important;
}


/* Server settings fixes */
.horizontal-2BEEBe>.flex-lFgbSz:last-child {
    background-color: transparent !important;
}

.theme-dark .select-3JqNgs .Select-option.is-selected {
    background: url("https://i.imgur.com/4FdcXbm.png") !important;
}

.theme-dark #friends .friends-table .friends-row:hover {
    background: url("https://i.imgur.com/4FdcXbm.png") !important;
}

.private-channels .channel:hover a,
.modal-3HOjGZ {
    background: url("https://i.imgur.com/4FdcXbm.png") !important;
}


/* Name tags */

/* Aqsa */
.member .avatar-small[style*="272059526147080195"] ~ .member-inner .member-username-inner:after,
.message-group .avatar-large[style*="272059526147080195"] ~ .comment .timestamp:before {
    background: rgba(255,0,0,1);
    border-radius: 3px;
    color: white;
    content: "snakey brown sket kys";
    font-size: 12px;
    font-weight: 500;
    padding: 0 3px;
    position: relative;
    bottom: 1px;
}
.member .avatar-small ~ .member-inner .member-username-inner:after {
    margin: 0 0 0 5px;
}
.message-group .avatar-large ~ .comment .timestamp:before {
    margin: 0 5px 0 0;
}

/* Dan */
.member .avatar-small[style*="202505371904901120"] ~ .member-inner .member-username-inner:after,
.message-group .avatar-large[style*="202505371904901120"] ~ .comment .timestamp:before {
    background: rgb(255, 0, 0);
    border-radius: 3px;
    color: white;
    content: "Boss";
    font-size: 12px;
    font-weight: 500;
    padding: 0 3px;
    position: relative;
    bottom: 1px;
}
.member .avatar-small ~ .member-inner .member-username-inner:after {
    margin: 0 0 0 5px;
}
.message-group .avatar-large ~ .comment .timestamp:before {
    margin: 0 5px 0 0;
}

/* Kerri */
.member .avatar-small[style*="203999589248794635"] ~ .member-inner .member-username-inner:after,
.message-group .avatar-large[style*="203999589248794635"] ~ .comment .timestamp:before {
    background: rgba(255,0,0,1);
    border-radius: 3px;
    color: white;
    content: "GGX Gang Member";
    font-size: 12px;
    font-weight: 500;
    font-style: none;
    padding: 0 3px;
    position: relative;
    bottom: 1px;
}

/* M4RV */
.member .avatar-small[style*="207447295585812480"] ~ .member-inner .member-username-inner:after,
.message-group .avatar-large[style*="207447295585812480"] ~ .comment .timestamp:before {
    background: rgba(255,0,0,1);
    border-radius: 3px;
    color: white;
    content: "The Bois";
    font-size: 12px;
    font-weight: 500;
    font-style: none;
    padding: 0 3px;
    position: relative;
    bottom: 1px;
}

/* Jordan */
.member .avatar-small[style*="198848305504059392"] ~ .member-inner .member-username-inner:after,
.message-group .avatar-large[style*="198848305504059392"] ~ .comment .timestamp:before {
    background: rgba(255,0,0,1);
    border-radius: 3px;
    color: white;
    content: "The Bois";
    font-size: 12px;
    font-weight: 500;
    font-style: none;
    padding: 0 3px;
    position: relative;
    bottom: 1px;
}

/* Ay Ay */
.member .avatar-small[style*="137272707711631360"] ~ .member-inner .member-username-inner:after,
.message-group .avatar-large[style*="137272707711631360"] ~ .comment .timestamp:before {
    background: rgba(255,0,0,1);
    border-radius: 3px;
    color: white;
    content: "The Bois";
    font-size: 12px;
    font-weight: 500;
    font-style: none;
    padding: 0 3px;
    position: relative;
    bottom: 1px;
}

/* Not Luke */
.member .avatar-small[style*="186539827930464256"] ~ .member-inner .member-username-inner:after,
.message-group .avatar-large[style*="186539827930464256"] ~ .comment .timestamp:before {
    background: rgba(255,0,0,1);
    border-radius: 3px;
    color: white;
    content: "Snakey jealous cunt kys";
    font-size: 12px;
    font-weight: 500;
    font-style: none;
    padding: 0 3px;
    position: relative;
    bottom: 1px;
}

/* LandMammoth */
.member .avatar-small[style*="198812128193413121"] ~ .member-inner .member-username-inner:after,
.message-group .avatar-large[style*="198812128193413121"] ~ .comment .timestamp:before {
    background: rgba(255,0,0,1);
    border-radius: 3px;
    color: white;
    content: "The Bois";
    font-size: 12px;
    font-weight: 500;
    font-style: none;
    padding: 0 3px;
    position: relative;
    bottom: 1px;
}
.member .avatar-small ~ .member-inner .member-username-inner:after {
    margin: 0 0 0 5px;
}
.message-group .avatar-large ~ .comment .timestamp:before {
    margin: 0 5px 0 0;
}

/* Channel name text */
.channelName-1G03vu::after{
    content: " - greekYikes" !important;
    color: white;
    height: 22px !important;
    font-size: 75% !important;
    font-weight: 200 !important;
    font-family: 'Questrial' !important;
}

/* Make ego bigger (Crown) */
.ownerIcon-uZ6mE7 {
    height: 18px !important;
    width: 18px !important;
    top: -1px !important;
}

/* Background fixes */
.bd-blue .need-help-modal .header, 
.need-help-modal.deprecated .footer,
.headerNormal-1cioxU,
.headerPlaying-2eYqm9,
.headerSpotify-1fSJPO,
.themed-popout .header,
.search-results-wrap .search-header,
.changeDetails-zbf-61,
.searchFilter-1fJ0cd,
.searchAnswer-yD90ey,
.theme-dark .member-2FrNV0.popout-open .content-3JzEqq,
.theme-dark .headerNormal-3Vn9nT,
.private-channels .channel.selected a,
.headerPlaying-2Q7mBy,
.member-2FrNV0:hover .content-3JzEqq,
.headerPlaying-j0WQBV,
.headerTop-3C2Zn0,
.theme-dark .modal-3HD5ck,
.activity-11LB_k,
.messages-popout {
    background: url("https://i.imgur.com/4FdcXbm.png") !important;
}

/* Avatar hover */
.avatarHintInner-1JYcVr {
    display: none !important;
}

.messages-popout-wrap .messages-popout .message-group {
    border-color: transparent !important;
    background-color: transparent !important;
}

/* random button */
.messages-popout-wrap .has-more button {
    background-color: white !important;
}

/* Attachment background */
.attachment-1Vom9D {
    background-color: transparent !important;
    border-color: transparent !important;
}

/* Date in chat background */
.messages-wrapper .messages .divider span, {
    background-color: #1D6586 !important;
}


/* Fix for members section */
.scroller-fzNley.members-1bid1J {
    background: transparent;
background-color: rgba(0, 0, 0, 0.4) !important;
}

.membersWrap-3wRngy .members-1bid1J {
    padding-top: 3vh;
    padding-bottom: 2vh;
}

/* idk dude summet blue :greekYikes: */
.theme-dark .messages-wrapper .messages .divider span {
    background-color: #1D6586 !important;
}

/* New message */
.theme-dark .messages-wrapper .messages .divider:not(.red) span {
    padding: 2px !important;
    padding-right: 6px !important;
    padding-left: 6px !important;
}

.membersWrap-3wRngy .members-1bid1J {
    margin-top: 0vh !important;
}

/* 27.04 transparency fix */
#voice-connection, 
#friends, 
.friends-header, 
.friends-table, 
.guilds-wrapper, 
.guild-header header, 
.channels-wrap, 
.private-channels .search-bar, 
.private-channels, 
.guild-channels, 
.account, 
.friend-table-add-header,
.chat, 
.content, 
.title-wrap:not(.search-bar), 
.messages-wrapper, 
.messages .divider span, 
.messages .divider:before, 
.content, .message-group-blocked, 
.is-local-bot-message,
.channel-members-loading, 
.channel-members-loading .heading, 
.channel-members-loading .member, 
.typing, 
.container-RYiLUQ, 
.theme-dark .ui-standard-sidebar-view, 
.theme-dark .ui-standard-sidebar-view .sidebar-region,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .channel-members,
.container-2OU7Cz,
.theme-dark .chat form, 
.channels-3g2vYe, 
.theme-dark .friends-table, 
.theme-dark .messages-wrapper, 
.content .flex-spacer, 
.theme-dark .chat>.content, 
.theme-dark .chat, 
.channel-members, 
.search .search-bar, 
.container-iksrDt, 
.container-3lnMWU, 
.theme-dark .title-qAcLxz, 
.theme-dark .typing-3eiiL_,
.theme-dark .activityFeed-HeiGwL,
.theme-dark .headerBar-cxbhPD,
.theme-dark .lfg-3xoFkI,
.video-3lOWa6,
.theme-dark .private-channel-call,
.appMount-3VJmYg,
.container-2lgZY8,
.channels-Ie2l6A,
.container-PNkimc,
.container-2Thooq,
.theme-dark .title-3qD0b-,
.theme-dark .typing-2GQL18,
.search-bar.search-bar-light,
.videoBackground-3AY_fu,
.videoInner-3OR9J2,
.theme-dark .embedInner-1-fpTo,
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S,
.theme-dark .inner-zqa7da,
.theme-dark .headerBar-UHpsPw,
.videoBackground-3AY_fu,
.videoTop-eOkSPq,
.video-1FfuMD,
.videoWrapper-2wbLD-,
.theme-dark .attachment-33OFj0,
.container-1UB9sr,
.theme-dark .members-1998pB{
  background: transparent !important;
}
.theme-dark .card-2WxYqG {
    background-color: rgba(54, 57, 63, 0.3)!important;
}
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .typeWindows-15E0Ys {
    background: rgba(0, 0, 0, 0.3) !important;
}

.theme-dark .embedInner-1-fpTo {
    border-color: transparent !important;
}

.theme-dark .embedPill-1Zntps {
    background-color: slateblue !important;
}

.contentSelectedText-3wUhMi,
.contentHoveredText-2D9B-x,
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4,
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.contentHoveredVoice-3p_NEO:active
 {
    background: url("https://i.imgur.com/4FdcXbm.png") !important;
}

.container-1UB9sr {
    border-bottom: 0px !important;
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: #1D6586 !important;
}

.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: rgb(41, 134, 177) !important;
}


/* Replace Text CSS
.element {
    text-indent: -9999px;
    line-height: 0; /* Collapse the original line */ /*
  }
  
  .element::after {
    content: "New text";
    text-indent: 0;
    display: block;
    line-height: initial; /* New content takes up original line height */ /*
  }

  */


  /* Invite code */
  .theme-dark .wrapper-35wsBm {
      background: transparent !important;
      border: transparent;
  }

  .bd-blue .appMount-3VJmYg.bda-dark .app-19_DXt.platform-win .app.flex-vertical.theme-dark .layers-3iHuyZ.flex-vertical.flex-spacer .layer-3QrUeG .ui-standard-sidebar-view .content-region .content-transition-wrap .scrollerWrap-2lJEkd.content-region-scroller-wrap.scrollerThemed-2oenus.themeGhost-28MSn0.scrollerTrack-1ZIpsv .scroller-2FKFPG.content-region-scroller .content-column.default .userSettingsAccount-2eMFVR .flex-vertical .userInfoViewing-16kqK3.cardPrimary-1Hv-to.card-3Qj_Yx,
  .bd-blue .appMount-3VJmYg.bda-dark .app-19_DXt.platform-win .app.flex-vertical.theme-dark .layers-3iHuyZ.flex-vertical.flex-spacer .layer-3QrUeG .ui-standard-sidebar-view .content-region .content-transition-wrap .scrollerWrap-2lJEkd.content-region-scroller-wrap.scrollerThemed-2oenus.themeGhost-28MSn0.scrollerTrack-1ZIpsv .scroller-2FKFPG.content-region-scroller .content-column.default .userSettingsVoice-iwdUCU .flex-vertical .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 .flexChild-faoVW3 .previewContainer-37c2Si .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.previewOverlay-2O7_KC .flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignCenter-1dQNNs.noWrap-3jynv6.previewOverlayInner-1WXURq {
    background: rgba(32,34,37,.3);
    border-color: #202225;;
  }

  .theme-dark .attachment-33OFj0 {
      border-color: transparent;
  }

/* attachments */
  .downloadButton-23tKQp {
      color: #60C2D8 !important;
      margin-right: 200px !important;
  }

  .downloadButton-23tKQp:hover {
    color: rgb(76, 157, 175) !important;
    margin-right: 200px !important;
  }
